*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --radius: 15px;
  --light: #F9EEF6;
  --pink: #FA99E1;
  --dark: #8B7285;
  --blue: #4B8AF3;
  --transition: all 200ms cubic-bezier(0.74, 0.01, 0.39, 0.96);
}

body {
  font-family: 'Rubik Mono One', sans-serif;
  height: 100vh;
  background: rgb(238, 174, 202);
  background: linear-gradient(37deg, rgba(238, 174, 202, 1) 0%, rgba(203, 176, 223, 1) 37%, rgba(148, 187, 233, 1) 100%);
  display: grid;
  place-items: center;
}

