<div class="music__container">

    <audio id="audio"></audio>

    <h2 class="music__title">Happy Clappy</h2>

    <div class="music__img"></div>
    <div class="music__player">

      <div class="music__player--progress">
        <div class="progress"></div>
      </div>
      <button id="prev" class="action">
        <i class="ph-skip-back-circle"></i>
      </button>
      <button id="play" class="action">
        <i class="ph-play-circle"></i>
      </button>
      <button id="next" class="action">
        <i class="ph-skip-forward-circle"></i>
      </button>
      <button class="speed"><p>1.0x</p></button>
    </div>
  </div>


  <style>
  
  .music__container {
  display: grid;
  grid-gap: 1.5rem;
  margin: 1.5rem;
  position: relative;
  z-index: 10;
  max-width: 500px;
  min-width: 40vw;
}

.music__title {
  color: var(--blue);
  background-color: var(--light);
  padding: 1.5rem 2.5rem;
  width: 100%;
  letter-spacing: -1px;
  border-radius: var(--radius);
  text-align: center;
}

.music__img {
  /* background-image: url('photos/deep-space.jpg'); */
  background-size: cover;
  background-position: center center;
  height: 40vh;
  max-width: 100%;
  border-radius: var(--radius);
}

.music__player {
  background-color: var(--light);
  box-shadow: 0px 4px 4px var(--dark);
  border-radius: var(--radius);
  width: 85%;
  max-width: 250px;
  margin: -5rem auto 0;
  padding: .5rem 1rem;
  position: relative;
  z-index: initial;
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  grid-gap: 1rem;
  transition: var(--transition);
}

.music__player.playing {
  border-radius: 0 0 var(--radius) var(--radius);
}

.action {
  background-color: var(--light);
  color: var(--blue);
  font-size: 3rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.action:is(:hover, :focus) {
  color: var(--pink);
  outline: none;
  transition: var(--transition);
}

.music__player--progress {
  position: absolute;
  z-index: -1;
  height: 10px;
  width: 100%;
  top: -10%;
  background-color: var(--blue);
  overflow: hidden;
  border-radius: var(--radius) var(--radius) 0 0;
  transform: translateY(120%);
  transition: var(--transition);
  cursor: pointer;
}

.music__player.playing .music__player--progress {
  transform: translateY(0);
  z-index: 0;
}

.progress {
  position: absolute;
  background-color: var(--pink);
  width: 0%;
  height: 100%;
  cursor: pointer;
}

.speed {
  position: absolute;
  height: 3.5rem;
  font-size: inherit;
  font-family: inherit;
  color: var(--light);
  background-color: var(--blue);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  display: grid;
  place-items: center;
  padding: .7rem 1rem .5rem;
  border: 6px solid var(--blue);
  border-radius: 0 0 var(--radius) var(--radius);
  z-index: -1;
  cursor: pointer;
}

.speed:is(:hover, :focus) {
  background-color: var(--light);
  color: var(--blue);
}

.music__player.playing .speed {
  transform: translate(-50%, 90%);
}

  </style>